body{
    background: #daf0e5;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
}

h2{
    text-align: center;
    font-weight: 100;
    margin: 10px 0 0 0;
    font-size: 24pt;
    letter-spacing: 5px;
    color: #376d4e;
}

.header{
    background: #daf0e5;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 10;
}

.header img{
    width: 30px;
    height: 30px;
}

#complete{
    position: absolute;
    left: 20px;
    top: 17px;
}

#clear{
    position: absolute;
    right: 20px;
    top: 17px;
}

.body{
    margin: 70px 0;
}

.item .withoutTime{
    position: relative;
    top: 12px;
}

.time{
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 55px;
    font-size: 10pt;
    color: #aaaaaa;
    font-weight: 200;
}

.today{
    color: #546dca;
}

.overdue{
    color: #ca656b;
}

.time img{
    margin: 0 2px 0 0;
    float: none;
    width: 12px;
    height: 12px;
}

.completed{
    text-decoration: line-through;
    color: #aaa;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #daf0e5;
}

.inputBox{
    text-align: left;
    position: absolute;
    background: #cfe7db;
    bottom: 10px;
    left: 3%;
    width: 94%;
    height: 50px;
    border-radius: 10px;
    font-size: 30pt;
    font-weight: 100;
    color: #376d4e;
}

.inputBox label{
    position: absolute;
    left: 15px;
    bottom: 5px;
}

.inputBox input{
    position: absolute;
    right: 15px;
    bottom: 5px;
    background: #cfe7db;
    outline: 0;
    color: #376d4e;
    font-size: 16pt;
    border: 0;
    padding: 0;
    height: 70%;
    width: 80%;
}

.inputBox input::placeholder{
    color: rgba(55, 109, 78, 0.4);
    font-style: italic;
}

.inputBox input:focus{
    border-color: #50986e;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(56, 114, 68, 0.6)
}

#itemCount{
    text-align: center;
    padding: 5px;
    color: #376d4e;
    font-size: 16pt;
    font-weight: 100;
}